/* css styles */

strong, b {
  font-weight: 800;
  color: inherit;
}

p {
  margin-bottom: 1rem;
}

/* Force table to respect column sizing */
.program-table {
  table-layout: fixed;
  width: 100%;
}

.program-table th:nth-child(1),
.program-table td:nth-child(1) {
  width: 5%;
  white-space: nowrap;
}

.program-table th:nth-child(2),
.program-table td:nth-child(2) {
  width: 75%;
}

.program-table th:nth-child(3),
.program-table td:nth-child(3) {
  width: 20%;
}

