/* css styles */

strong, b {
  font-weight: 800;
  color: inherit;
}

p {
  margin-bottom: 1rem;
}

/* Workshop program table column widths */
.program-table th:nth-child(1),
.program-table td:nth-child(1) {
  width: 20%;
  white-space: nowrap;
}

.program-table th:nth-child(2),
.program-table td:nth-child(2) {
  width: 70%;
}

.program-table th:nth-child(3),
.program-table td:nth-child(3) {
  width: 10%;
}
